CONFIG_STATIC=y
CONFIG_IFCONFIG=y
CONFIG_UDHCPC=y
CONFIG_FEATURE_IPV6=y
CONFIG_IFUPDOWN=y
CONFIG_IP=y
CONFIG_FEATURE_EDITING_HISTORY=y
CONFIG_PING6=y

CONFIG_MOUNT=y
CONFIG_FEATURE_MOUNT_LOOP=y
CONFIG_FEATURE_MOUNT_LOOP_CREATE=y
CONFIG_VOLUMEID=y
CONFIG_FEATURE_BLKID_TYPE=y
CONFIG_FEATURE_VOLUMEID_SQUASHFS=y
CONFIG_FEATURE_MOUNT_FLAGS=y
CONFIG_FEATURE_MTAB_SUPPORT=y
CONFIG_FEATURE_MOUNT_OTHERTAB=y